body{
     background: linear-gradient(#9a08dd 0%, #dd4c4f 40%, #7420d3 100%);
}
.profile{
   min-height: 50vh;          /* setinggi layar */
    display: flex;              /* aktifkan flex */
    justify-content: center;    /* tengah horizontal */
    align-items: center;        /* tengah vertikal */
    text-align: center;
    position: relative;
    flex-direction: column;}
.profileimage{
    width: 200px;
  
}

.profile h2 {
    color: white;
    
}
.profile h4 {
    color: white;
    transform: translateY(-10px);
    
}
.biodata{
    background-color: #fff;
  
    
}
.card{
border-radius:15px;
}

button{
border-radius:10px;
}

table{
border-radius:10px;
overflow:hidden;
}

h2{
font-weight:bold;
}